<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="Grav {{ grav_version }}" />
        {% if header.description %}
        <meta name="description" content="{{ header.description }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}
        {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
        {% endif %}

        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

        <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">
            {% block stylesheets %}
            {{ assets.add('@theme/css:bootstrap.min.css',102) }}
            {{ assets.add('@theme/css:font-awesome.min.css',101) }}
            {{ assets.add('@theme/css-compiled:theme.css',100) }}

            {{ assets.css() }}
        {% endblock %}

        {% block javascripts %}
            {{ assets.add('@theme/js:jquery-2.1.1.min.js', 101) }}
            {{ assets.add('@theme/js:modernizr.custom.71422.js', 100) }}
            {{ assets.add('@theme/js:bootstrap.min.js') }}

            {% if user_agent.getBrowserName == 'msie' and user_agent.getBrowserVersion >= 8 and user_agent.getBrowserVersion <= 9 %}
                {{ assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') }}
                {{ assets.add('@theme/js:html5shiv-printshiv.min.js') }}
            {% endif %}

            {{ assets.js() }}
        {% endblock %}

        {% endblock head%}
    </head>

      <body class="{{ page.header.body_classes }}">

        {# include the header + navigation #}
        {% include 'partials/header.html.twig' %}

        {% block content %}{% endblock %}

        <div class="footer">
            <div class="container">
                <p class="text-muted">Bootstrap Theme for <a href="http://getgrav.org">Grav</a></p>
            </div>
        </div>
    </body>
</html>
